* {
    padding: 0;
    margin: 0;
}

.cabecalhio, .principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao button {
    width: 120px;
    height: 40px;
}

#imagemId {
    width: 400px;
    height: 400px;
}